VITE_API_BASE_URL=http://13.212.120.46:8083/api
VITE_SUPABASE_URL=https://skqxccixaybsssfpqpnb.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrcXhjY2l4YXlic3NzZnBxcG5iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MDgxMTMsImV4cCI6MjA5MDE4NDExM30.5CxdLDlKlwHtOJjkF6sNWxl2iHaxT1WCjcN8cjRUhE0